.map {
  height: 400px;
  width: 100%;
}

#outline {
  padding: 10px;
  background-color: rgba(43, 45, 66);
  border: none;
  color: whitesmoke;
}
#states {
  padding: 10px;
  background-color: rgb(141, 153, 174);
  border: none;
  color: whitesmoke;
}
#counties {
  padding: 10px;
  background-color: rgb(239, 35, 60);
  border: none;
  color: whitesmoke;
}
#congressional {
  padding: 10px;
  background-color: rgb(217, 4, 41);
  border: none;
  color: whitesmoke;
}
